body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 217, 0, 0.829);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

form {
  padding: 5;
  text-align: center;
  display: inline-block;
  width: 50%;
}

.button {
  background-color: #1a6a54;
  border: none;
  color:#f1d924;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 2px;
}

.image {
  padding-top: 0%;
}

.h3 {
  margin-top: 15;
  margin-bottom: 15;
}

.uiBody {
  padding: 1%;
  text-align: left;
}

.card-deck {
  border: 1cm;
  padding: 1%;
}
